<div class="page-wraper">
	<app-header-one></app-header-one>
	<!-- Content -->
    <div class="page-content bg-white">
		<app-slider-one></app-slider-one>
		<div class="content-block">
			<app-call-action-one></app-call-action-one>
			<app-about-one></app-about-one>
			<app-service-one></app-service-one>
			<app-work-one></app-work-one>
			<app-team-one></app-team-one>
			<app-testimonial-one></app-testimonial-one>
			<app-blog-one [data]="slideStore"></app-blog-one>
			<app-call-action-two [data]="theme"></app-call-action-two>
		</div>
	</div>
	<app-footer-one></app-footer-one>
	<button class="scroltop style1 white icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
